/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@media (min-width: 1024px) {
  /* .top-navigation .trigram {
    display: none;
  } */

  /* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
  .header-content .logo span {
    text-transform: capitalize;
    font-weight: 400;
    line-height: 27.6px;
    font-size: 24px;
  }

  .trigram {
    display: none;
  }

  .top-navigation ul {
    width: 247px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-navigation ul li {
    flex: 1;
    text-align: center;
  }

  .top-navigation ul li:first-child {
    text-align: left;
  }

  .top-navigation ul li:nth-child(2) {
    text-align: center;
  }

  .top-navigation ul li:last-child {
    text-align: right;
  }

  .top-navigation ul li:nth-child(3) {
    display: none;
  }

  .top-navigation ul li:hover {
    color: #333;
  }

  section .content .section-info h1 {
    font-weight: 700;
  }

  section .content .section-info p {
    font-weight: 400;
    color: #404040;
    height: 48px;
    width: 1020px;
  }

  .content-vertical .subtext {
    margin-bottom: 20px;
    font-weight: 400;
  }

  .portfolio-item-info .item-title {
    font-weight: 700;
    line-height: 30px;
  }

  .portfolio-item-info .item-description {
    font-weight: 400;
  }

  .content-vertical .portfolio-list .portfolio-item:nth-child(2) {
    order: 3;
  }

  .content-vertical .portfolio-list .portfolio-item:nth-child(3) {
    order: 2;
  }

  .surrounded-header {
    line-height: 46px;
    font-size: 40px;
    font-weight: 400;
  }

  .teammates-list-wrapper {
    height: 251px;
    display: flex;
  }

  section .content .section-info .subtext {
    line-height: 24px;
    font-size: 16px;
    width: 720px;
    height: 48px;
    color: #969696;
  }

  .teammate {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .teammate img {
    width: 163.5px;
    height: 163px;
    object-fit: contain;
  }

  .teammates-list:before,
  .teammates-list:after {
    font-family: Font Awesome 6 Free;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 24px;
    height: 24px;
  }

  .teammate-data .teammate-social-icons .facebook:hover,
  .teammate-data .teammate-social-icons .twitter:hover,
  .teammate-data .teammate-social-icons .instagram:hover {
    background-color: #969696;
  }

  .footer-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 

  footer .social-icons .facebook:hover .icon,
  footer .social-icons .twitter:hover .icon,
  footer .social-icons .instagram:hover .icon,
  footer .social-icons .linked-in:hover .icon {
    color: #000000;
    background-color: #ffffff;
  }

  footer .social-icons .facebook:hover span,
  footer .social-icons .twitter:hover span,
  footer .social-icons .instagram:hover span,
  footer .social-icons .linked-in:hover span {
    color: #ffffff;
    background-color: #000000;
  }

  footer .footer-contacts a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  footer .footer-content .footer-contacts h3 {
    line-height: 16.1px;
  }

  .footer-footer {
    width: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 24px; 
  }
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

@media (min-width: 768px) and (max-width: 1023px) {
    .header-content .logo span {
      text-transform: capitalize;
      font-weight: 400;
      line-height: 27.6px;
      font-size: 24px;
    }

    .header-content {
      padding: 10px 30px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    .top-navigation ul {
      display: none;
    }

    .content-vertical {
      gap: 80px;
    }

    .content-vertical .section-info h1 {
      line-height: 73.59px;
      width: 588px;
    }

    .content-vertical .section-info p {
      width: 708px;
      height: 72px;
      padding: 0;
      color: #404040;
    }

    .portfolio-list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .content-vertical .portfolio-list .portfolio-item {
      display: flex;
      flex-direction: row;
      gap: 30px;
      height: 140px;
      width: 100%;
      align-items: flex-start;
    }

    .content-vertical .portfolio-list .portfolio-item .portfolio-img-wrapper {
      display: flex;
      justify-content: flex-start;
      width: 200px;
      height: 140px;
      object-fit: cover;
      flex: 0 0 auto;
    }

    .content-vertical .portfolio-list .portfolio-item .portfolio-item-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .content-vertical .portfolio-list .portfolio-item .item-title {
      font-weight: 400;
      line-height: 30px;
    }

    .content-vertical .portfolio-list .portfolio-item .portfolio-item-info {
      gap: 10px;
    }

    .content-vertical .portfolio-list .portfolio-item .item-description {
      line-height: 24px;
      font-size: 14px;
      height: 72px;
    }

    .teammates-content .section-info .surrounded-header {
      font-size: 40px;
      line-height: 46px;
      gap: 10px;
    }

    .teammates-content .section-info .subtext {
      width: 600px;
      height: 48px;
      color: #969696;
    }
  }

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
